<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DiscIt API</title>
</head>
<body>
	<h1>DiscIt API</h1>
	<p>See <a href="https://github.com/cdleveille/discit#readme" target="_blank">README</a> for usage instructions!</p>
</body>
</html>